@using TreeHouse.Services
@inherits LayoutComponentBase
@inject TokenAuthenticationStateProvider AuthProvider;

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <BSButton IsOutline="true" Color="Color.Dark" OnClick="@(Logout)">Logout</BSButton>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container-fluid">
            <div class="row justify-content-center p-4">
                <div class="col" style="max-width: 600px">
                    <RadzenCard>
                        <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login="@(Login)" Style="margin-bottom: 20px;"/>
                    </RadzenCard>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{

    private async Task Login(LoginArgs args)
    {
        await AuthProvider.TryLogin(args.Username, args.Password);
    }

    private async Task Logout()
    {
        await AuthProvider.Logout();
    }
}