@using TreeHouse.ViewModels
@inject UserAccountsOverviewViewModel ViewModel

@if (IsCash)
{
    @if (ViewModel.Accounts != null && ViewModel.Accounts.Any())
    {
        <AccountView ViewModel="@ViewModel.Accounts[0]" />
    }
    else
    {
        <div>No cash Accounts!</div>
    }
}
else
{
    <RadzenTabs>
        <Tabs>
            @if (ViewModel.Accounts != null && ViewModel.Accounts.Any())
            {
                @foreach (var account in ViewModel.Accounts)
                {
                    <RadzenTabsItem Text="@account.Name">
                        <AccountView ViewModel="@account" />
                    </RadzenTabsItem>
                }
            }
            else
            {
                <div>No savings Accounts!</div>
            }
        </Tabs>
    </RadzenTabs>
}
@code {

    protected override async Task OnParametersSetAsync()
    {
        await ViewModel.LoadAsync(IsCash);
    }

    [Parameter]
    public bool IsCash { get; set; }
}
